html, Body, div, span, applet, object, iframe, caption, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {vertical-align:baseline;font-size:100%;outline:0;padding:0;margin:0;border:0;line-height:1.6;font-family:'Roboto Condensed', sans-serif;}

/* ATTRIBUTES */
a {text-decoration:none;}
.clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden;}
::-webkit-scrollbar {
    width: 3px;
	height:5px;
}
 
::-webkit-scrollbar-track { 
    background: #fff;    
}
 
::-webkit-scrollbar-thumb {
    background: #ddd;
}

#bgfirst{width:100%;height:250px;margin:0 auto;padding:0;background:#4e73df;}
#bofirst{width:100%;margin:0 auto;padding:0;}
.sidebar{width:18%;height:90%;position:fixed;margin:1% auto 1% 2%;padding:20px;float:left;display: block;background:#fff;border-radius:2rem;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);box-sizing: border-box  ;}
.sidebarimg{width:220px;margin:0 auto;padding:0;}
.sidebarimg img{width:100%;}
.sidebartit{margin:2% auto 4%;padding:0 2px;color:grey;}
.closebar{display:none;}
.sidebarlink{height:40%;margin:0 auto;overflow-y: scroll;}
.sidebarlink ul{list-style: none;padding:0;}
.sidebarlink ul li{margin:2% auto;padding:0 5px; box-sizing: border-box;}
.sidebarlink ul li a{color:rgba(0,0,0,0.8);display: block;padding:5px 20px;box-sizing: border-box;border-radius:4px;}
.sidebarlink ul li a:hover{background:#f0f0f0;}
.sidebarlink ul li a.active{background: #5e81ec;color:#fff;}
.sidebarview{margin:2% auto;padding:0;}
.sidebarview a{background:#5E81EC;color:#fff;display: block;text-align: center;padding:5px;border-radius:4px;transition: ease-in .2s;}
.sidebarview a:hover{background:#476FE9;transition: ease-in .2s;}
.sidebarlogout{margin:4% auto;padding:0;}
.sidebarlogout a{background:#e9a43d;color:#fff;display: block;text-align: center;padding:5px;border-radius:4px;transition: ease-in .2s;}
.sidebarlogout a:hover{background:#f19b1a;transition: ease-in .2s;}
.content{width:80%;margin:0 auto;padding:0;float:right;}
#bgtop{width: 100%;margin:0;padding:3% 0;}
#botop{width:95%;margin: 0 auto;padding:0;}
.tooglebar{width:50%;padding:0;margin:9px auto;float:left;}
.tooglebar svg{color:#fff;font-size:20px;}
.tooglebar span{color:#fff;font-size: 20px;margin-left: 1%;}
.avatar{width:50%;padding:0;margin:0;float:right;}
.avatarimg{width:40px;height: 40px;float:right;background:#fff;padding:5px;border-radius: 50%;}
.avatarimg img{width:100%;}
.avatarsetting{margin:12.9px 2%;padding:0;float:right;}
.avatarsetting svg{color:#fff;font-size:20px; cursor:pointer;}
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 200px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);border-radius:4px;z-index: 1;right:30px;top:70px;}
.dropdown-content a {color: black;padding: 10px 16px;text-decoration: none;display: block;}
.dropdown-content a:hover {background-color: #f1f1f1}
.avatarsetting:hover .dropdown-content {display: block;}
.dropdown-title{color: black;padding: 10px 16px;display: block;text-align:center;font-weight:500;border-bottom:1px solid #ddd;}
.avatarsetting:hover .dropdown-content2 {display: block;}
.avatarnotif span{font-size:12px;color:#fff;padding:2px 8px;background:#FF2B53;border-radius:50%;position:absolute;top:40px;right:66px;}
.dropdown-content2 {display: none;position: absolute;background-color: #f9f9f9;min-width: 200px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);border-radius:4px;z-index: 1;right:85px;top:70px;}
.dropdown-content2 a {color: black;padding: 5px 16px;text-decoration: none;display: block;text-align:center;margin-top:2px;}
.dropdown-content2 a:hover {background-color: #f1f1f1}
.dropdown-title2{color: black;padding: 10px 16px;display: block;text-align:center;font-weight:500;border-bottom:1px solid #ddd;}
.dropdown-list{padding:4px 15px;font-size:13px; border-bottom:1px solid #ddd;}
.dropdown-list span{font-size:13px;color:grey;}
@media screen and (max-width:990px){
	#bgfirst{width:100%;height:250px;margin:0 auto;padding:0;background:#4e73df;}
	#bofirst{width:100%;margin:0 auto;padding:0;}
	.sidebar{width:270px;height:99%;position:fixed;margin:1% auto 1% -300px;padding:20px;float:left;display: block;background:#fff;border-radius:2rem;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);box-sizing: border-box;transition:ease-in .2s;z-index:999;}
	.sidebar.active{width:270px;height:99%;position:fixed;margin:1% auto 1% 1.5%;padding:20px;float:left;display: block;background:#fff;border-radius:2rem;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);box-sizing: border-box;transition:ease-in .2s;z-index:999;}
	.sidebarimg{width:170px;margin:0 auto;padding:0;}
	.sidebarimg img{width:100%;}
	.sidebartit{margin:0 auto 4%;padding:0 2px;color:grey;}
	.closebar{display:block;float:right;margin:0 4%;font-size:20px;color:#e45555;}
	.sidebarlink{height:25%;margin:0 auto;overflow-y: scroll;}
	.sidebarlink ul{list-style: none;padding:0;}
	.sidebarlink ul li{margin:2% auto;padding:0 5px; box-sizing: border-box;}
	.sidebarlink ul li a{color:rgba(0,0,0,0.8);display: block;padding:5px 20px;box-sizing: border-box;border-radius:4px;}
	.sidebarlink ul li a:hover{background:#f0f0f0;}
	.sidebarlink ul li a.active{background: #5e81ec;color:#fff;}
	.sidebarview{margin:5% auto 2%;padding:0;}
	.sidebarview a{background:#5E81EC;color:#fff;display: block;text-align: center;padding:5px;border-radius:4px;transition: ease-in .2s;}
	.sidebarview a:hover{background:#476FE9;transition: ease-in .2s;}
	.sidebarlogout{margin:2% auto;padding:0;}
	.sidebarlogout a{background:#e9a43d;color:#fff;display: block;text-align: center;padding:5px;border-radius:4px;}
	.sidebarlogout a:hover{background:#f19b1a;}
	.content{width:100%;margin:0 auto;padding:0;float:right;}
	#bgtop{width: 100%;margin:0;padding:3% 0;}
	#botop{width:95%;margin: 0 auto;padding:0;}
	.tooglebar{width:50%;padding:0;margin:9px auto;float:left;cursor:pointer;}
	.tooglebar svg{color:#fff;font-size:20px;}
	.tooglebar span{color:#fff;font-size: 20px;margin-left: 1%;}
	.avatar{width:50%;padding:0;margin:0;float:right;}
	.avatarimg{width:40px;height: 40px;float:right;background:#fff;padding:5px;border-radius: 50%;}
	.avatarimg img{width:100%;}
	.avatarsetting{margin:12.9px 2%;padding:0;float:right;}
	.avatarsetting svg{color:#fff;font-size:20px; cursor:pointer;}
	.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 94%;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);border-radius:4px;z-index: 1;right:13px;top:50px;}
	.dropdown-content a {color: black;padding: 10px 16px;text-decoration: none;display: block;}
	.dropdown-content a:hover {background-color: #f1f1f1}
	.avatarsetting:hover .dropdown-content {display: block;}
	.dropdown-title{color: black;padding: 10px 16px;display: block;text-align:center;font-weight:500;border-bottom:1px solid #ddd;}
	.avatarnotif span{font-size:12px;color:#fff;padding:2px 8px;background:#FF2B53;border-radius:50%;position:absolute;top:40px;right:66px;}
	.dropdown-content2 {display: none;position: absolute;background-color: #f9f9f9;min-width: 95%;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);border-radius:4px;z-index: 1;right:10px;top:55px;}
	.dropdown-content2 a {color: black;padding: 5px 16px;text-decoration: none;display: block;text-align:center;margin-top:2px;}
	.dropdown-content2 a:hover {background-color: #f1f1f1}
	.dropdown-title2{color: black;padding: 10px 16px;display: block;text-align:center;font-weight:500;border-bottom:1px solid #ddd;}
	.dropdown-list{padding:4px 15px;font-size:13px; border-bottom:1px solid #ddd;}
}


/* content */
#bgcont{width:100%;margin:0 auto;padding:0;}
#bocont{width:95%;margin: 0 auto;padding:0;}


#bgdash{width:100%;margin:0 auto;padding:0;}
#bodash{width:100%;margin: 0 auto;padding:0;}
.dashbox{width:31.33%;margin:0 1%;padding:20px;float:left;background:#fff;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);box-sizing: border-box;text-align: center;border-radius:1rem;}
.dashimg{margin:0 auto;padding:0;}
.dashimg svg{color:#5e81ec;border:1px solid #5e81ec;font-size:30px; padding:10px;border-radius: 50%;}
.dashimg2{margin:0 auto;padding:0;}
.dashimg2 svg{color:#e9a43d;border:1px solid #e9a43d;font-size:23px; padding:13px 10px;border-radius: 50%;}
.dashimg3{margin:0 auto;padding:0;}
.dashimg3 svg{color:#55e49a;border:1px solid #55e49a;font-size:23px; padding:13px 13px;border-radius: 50%;}
.dashnum{margin:0 auto;padding:0;}
.dashnum h2{color:rgba(0,0,0,0.7);font-size:25px;font-weight: 500;}
.dashtit{margin:0 auto;padding:0;}
.dashtit h3{color:rgba(0,0,0,0.7);font-size:16px;font-weight: 700;}


/* chart */
#chart{margin:2% auto;padding:20px 0; box-sizing: border-box;}
.chartkiri{width:48%;margin:0 1%;padding:20px;float:left;background:#fff;box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);box-sizing: border-box;border-radius:0.35rem;}
.chartkanan{width:48%;margin:0 1%;padding:20px;float:left;background:#fff;box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);box-sizing: border-box;border-radius:0.35rem;}
@media screen and (max-width:990px){
	/* content */
	#bgcont{width:100%;margin:0 auto;padding:0;}
	#bocont{width:95%;margin: 0 auto;padding:0;}


	#bgdash{width:100%;margin:0 auto;padding:0;}
	#bodash{width:100%;margin: 0 auto;padding:0;}
	.dashbox{width:100%;margin:2% 0;padding:20px;float:none;background:#fff;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);box-sizing: border-box;text-align: center;border-radius:1rem;}
	.dashimg{margin:0 auto;padding:0;}
	.dashimg svg{color:#5e81ec;border:1px solid #5e81ec;font-size:30px; padding:10px;border-radius: 50%;}
	.dashimg2{margin:0 auto;padding:0;}
	.dashimg2 svg{color:#e9a43d;border:1px solid #e9a43d;font-size:23px; padding:13px 10px;border-radius: 50%;}
	.dashimg3{margin:0 auto;padding:0;}
	.dashimg3 svg{color:#55e49a;border:1px solid #55e49a;font-size:23px; padding:13px 13px;border-radius: 50%;}
	.dashnum{margin:0 auto;padding:0;}
	.dashnum h2{color:rgba(0,0,0,0.7);font-size:25px;font-weight: 500;}
	.dashtit{margin:0 auto;padding:0;}
	.dashtit h3{color:rgba(0,0,0,0.7);font-size:16px;font-weight: 700;}


	/* chart */
	#chart{margin:2% auto;padding:0; box-sizing: border-box;}
	.chartkiri{width:100%;margin:2% 0;padding:20px;float:none;background:#fff;box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);box-sizing: border-box;border-radius:0.35rem;}
	.chartkanan{width:100%;margin:2% 0;padding:20px;float:none;background:#fff;box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);box-sizing: border-box;border-radius:0.35rem;}
}

/* table */
#bgtable{width:100%;margin:0 auto;padding:0;}
#botable{width:100%;margin:0 auto;padding:0}
#tabletop{background:#fff;margin:1% auto;padding:10px 20px; box-sizing: border-box;border-radius:4px;}
.tabletoptit{width:50%;margin:5px auto;padding:0;float:left;font-weight: 500;}
.tabletopbtn{width:50%;margin:0 auto;padding:0;float:left;}
.tabletopbtn a{float:right;color:#4e73df;border:1px solid #4e73df;padding:4px 15px;border-radius: 4px;transition: ease-in .2s;}
.tabletopbtn a:hover{background-color: #4e73df;color:#fff;transition: ease-in .2s;}
#table{background:#fff;padding:20px;box-sizing: border-box;overflow:scroll;border-radius: 4px;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);}


/* Button */
.btnedit{color:#4e73df;}
.btnhps{color:#df4e4e;}
.btnsubmit{border:none;background:#4e73df;padding:7px 15px;color:#fff;border-radius: 3px;cursor: pointer;}
.btnsubmit:hover{background: #2b58de;}


/* modal */
.modal {display: none;position: fixed;z-index: 999;padding-top: 30px;left: 0;top: 0;width: 100%;height: 100%;overflow: scroll; background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.modal-content {position: relative;background-color: #fefefe;margin: auto;padding: 0;border: 1px solid #888;width: 45%;height:auto;overflow:auto;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: 0.4s;border-radius:0.25rem;}
@-webkit-keyframes animatetop {from {top:-300px; opacity:0} to {top:0; opacity:1}}
@keyframes animatetop {from {top:-300px; opacity:0}to {top:0; opacity:1}}
.close {color: #4e4e4e;float: right;font-size: 28px;font-weight: bold;margin:-7px auto;}
.close:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
.closeedit {color: #4e4e4e;float: right;font-size: 28px;font-weight: bold;margin:-7px auto;}
.closeedit:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
.modal-header {padding: 15px 30px;background-color: #fff;color: #4e4e4e;border-radius:0.25rem;border-bottom:1px solid #d9d9d9;}
.modal-header h2{font-size:20px;font-weight:600;}
.modal-body {margin:0 auto;padding: 30px;box-sizing:border-box;height:100%;overflow:auto;}
.modal-footer {padding: 2px 16px;background-color: #5cb85c;color: white;}
#formbox{width:100%;margin:0 auto 20px;padding:0;}
.formlabel{width:30%;margin:0 1%;padding:0;float:left;}
.forminput{width:68%;margin:0 auto;padding:0;float:left;}
.form-control{display: block;width: 100%;padding:5px 10px;font-size: 15px;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #d1d3e2;border-radius: 0.25rem;box-shadow: inset 0 0 0 transparent;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;box-sizing:border-box;}
.form-control:focus{outline:none;border-style:groove;box-shadow: 0 2px 10px 0 #4e73df;}
.formsubmit{width:100%;margin:5px auto 0;padding:0;text-align:right;}
/* tutup modal */

/* frameimg */
.framimg{width:150px;margin: 0;padding:3px;box-sizing: border-box;border: 1px solid #f0f0f0;}
.framimg img{width:100%;}

@media screen and (max-width:990px){
	/* table */
	#bgtable{width:100%;margin:0 auto;padding:0;}
	#botable{width:100%;margin:0 auto;padding:0}
	#tabletop{background:#fff;margin:1% auto;padding:10px 20px; box-sizing: border-box;border-radius:4px;}
	.tabletoptit{width:50%;margin:5px auto;padding:0;float:left;font-weight: 500;}
	.tabletopbtn{width:50%;margin:0 auto;padding:0;float:left;}
	.tabletopbtn a{float:right;color:#4e73df;border:1px solid #4e73df;padding:4px 15px;border-radius: 4px;transition: ease-in .2s;}
	.tabletopbtn a:hover{background-color: #4e73df;color:#fff;transition: ease-in .2s;}
	#table{background:#fff;padding:20px;box-sizing: border-box;border-radius: 4px;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);overflow:scroll;}
	table th{font-size:14px !important;}
	table td{font-size:14px !important;}
	
	/* Button */
	.btnedit{color:#4e73df;}
	.btnhps{color:#df4e4e;}
	.btnsubmit{border:none;background:#4e73df;padding:7px 15px;color:#fff;border-radius: 3px;cursor: pointer;}
	.btnsubmit:hover{background: #2b58de;}


	/* modal */
	.modal {display: none;position: fixed;z-index: 999;padding-top: 30px;left: 0;top: 0;width: 100%;height: 100%;overflow: scroll; background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
	.modal-content {position: relative;background-color: #fefefe;margin: auto;padding: 0;border: 1px solid #888;width: 95%;height:auto;overflow:auto;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: 0.4s;border-radius:0.25rem;overflow:scroll;}
	@-webkit-keyframes animatetop {from {top:-300px; opacity:0} to {top:0; opacity:1}}
	@keyframes animatetop {from {top:-300px; opacity:0}to {top:0; opacity:1}}
	.close {color: #4e4e4e;float: right;font-size: 28px;font-weight: bold;margin:-7px auto;}
	.close:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
	.closeedit {color: #4e4e4e;float: right;font-size: 28px;font-weight: bold;margin:-7px auto;}
	.closeedit:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
	.modal-header {padding: 15px 30px;background-color: #fff;color: #4e4e4e;border-radius:0.25rem;border-bottom:1px solid #d9d9d9;}
	.modal-header h2{font-size:20px;font-weight:600;}
	.modal-body {margin:0 auto;padding: 30px;box-sizing:border-box;height:100%;overflow:auto;}
	.modal-footer {padding: 2px 16px;background-color: #5cb85c;color: white;}
	#formbox{width:100%;margin:0 auto 20px;padding:0;}
	.formlabel{width:30%;margin:0 1%;padding:0;float:left;}
	.forminput{width:68%;margin:0 auto;padding:0;float:left;}
	.form-control{display: block;width: 100%;padding:5px 10px;font-size: 15px;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #d1d3e2;border-radius: 0.25rem;box-shadow: inset 0 0 0 transparent;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;box-sizing:border-box;}
	.form-control:focus{outline:none;border-style:groove;box-shadow: 0 2px 10px 0 #4e73df;}
	.formsubmit{width:100%;margin:5px auto 0;padding:0;text-align:right;}
	/* tutup modal */

	/* frameimg */
	.framimg{width:150px;margin: 0;padding:3px;box-sizing: border-box;border: 1px solid #f0f0f0;}
	.framimg img{width:100%;}
}

/* -----------------PROFIL---------------------------------- */
#profiltit{width:100%;margin: 1% auto;padding:5px 20px;box-sizing:border-box;display:flex;gap:10px;flex-wrap: wrap;background:#fff;border-radius:4px;}
#profiltit h3{font-size:20px;padding-right:1rem;border-right:1px solid rgb(75, 70, 92,0.12);font-weight:600;line-height:2;color:#636363;}
#profiltit span{margin:8px 0;}
#profiltit span a{text-decoration:none;color:#2F5A7D;}
#profiltit span a:hover{text-decoration:underline;}
.bgprofil{margin:0 auto;padding:20px;background:#fff;box-sizing:border-box;border-radius:4px;box-shadow:0 2px 10px 0 rgba(0,0,0,0.2);}
#profilformtitbo{width:100%;margin:0 auto 2%;padding:0;}
.profilformtit{width:50%;font-size:18px;color:rgb(75, 70, 92, 0.62);font-weight:500;float:left;}
.profilformbtn{width:50%;margin:0 auto;padding:0;float:left;text-align:right;}
.btnprofil{text-decoration:none;font-size:16px;font-weight:400;color:#fff;background:#2F5A7D;padding:4px 10px;border-radius:4px;}
.btnprofil:hover{background:#254560;}
.profilimg{margin:0 auto;padding:0;text-align:center;width:15%;padding:10px;}
.profilimg img{width:100%;}
.profilform{margin:0 auto;padding:0;}
.formbgprofil{margin:1% auto;padding:0;}
.formbgprofiltit{font-size:14px;color:rgb(75, 70, 92, 0.62);font-weight:500;}
.adminpass{margin:1% auto;font-size:14px;color:#D62518;font-weight:500;}
.form-profil{width:100%;padding:8px 12px;box-sizing:border-box;border-radius:0.357rem;border:1px solid #d8d6de;font-size:15px;color:#6e6b7b;}
.form-profil:disabled{background:#efefef;opacity:1;}
.formprofilkiri{width:49%;margin:0 1% 0 0;padding:0;float:left;}
.formprofilkanan{width:49%;margin:0 0 0 1%;padding:0;float:left;}
/* --------------TUTUP PROFIL---------------------------------- */
@media screen and (max-width:504px)
{
	/* -----------------PROFIL---------------------------------- */
	#profiltit{width:100%;margin: 1% auto;padding:5px 20px;box-sizing:border-box;display:flex;gap:10px;flex-wrap: wrap;background:#fff;border-radius:4px;}
	#profiltit h3{font-size:18px;padding-right:1rem;border-right:1px solid rgb(75, 70, 92,0.12);font-weight:600;line-height:2;color:#636363;}
	#profiltit span{margin:5.5px 0;font-size:15px;}
	#profiltit span a{text-decoration:none;color:#2F5A7D;}
	#profiltit span a:hover{text-decoration:underline;}
	.bgprofil{margin:0 auto;padding:20px;background:#fff;box-sizing:border-box;border-radius:4px;box-shadow:0 2px 10px 0 rgba(0,0,0,0.2);}
	#profilformtitbo{width:100%;margin:0 auto 2%;padding:0;}
	.profilformtit{width:80%;font-size:18px;color:rgb(75, 70, 92, 0.62);font-weight:500;float:left;}
	.profilformbtn{width:20%;margin:0 auto;padding:0;float:left;text-align:right;box-sizing:border-box;}
	.btnprofil{text-decoration:none;font-size:15px;font-weight:400;color:#fff;background:#2F5A7D;padding:2px 5px;border-radius:4px;box-sizing:border-box;}
	.btnprofil:hover{background:#254560;}
	.profilimg{margin:0 auto;padding:0;text-align:center;width:50%;padding:10px;}
	.profilimg img{width:150px;height:180px;border-radius:50%;}
	.profilform{margin:0 auto;padding:0;}
	.formbgprofil{margin:1% auto;padding:0;}
	.formbgprofiltit{font-size:14px;color:rgb(75, 70, 92, 0.62);font-weight:500;}
	.adminpass{margin:1% auto;font-size:14px;color:#D62518;font-weight:500;}
	.form-profil{width:100%;padding:8px 12px;box-sizing:border-box;font-family:"Montserrat", Helvetica, Arial, serif !important;border-radius:0.357rem;border:1px solid #d8d6de;font-size:15px;color:#6e6b7b;}
	.form-profil:disabled{background:#efefef;opacity:1;}
	.formprofilkiri{width:100%;margin:0 auto;padding:0;float:none;}
	.formprofilkanan{width:100%;margin:0 auto;padding:0;float:none;}
	/* --------------TUTUP PROFIL---------------------------------- */
}


/*DRAG AND DROP IMAGE*/
.btnremove{background:#5E81EC;color:#fff;border:none;border-radius:3px;padding:1px 10px;cursor:pointer;}
.btnremove:hover{background:#476FE9;}
.container {
  padding: 50px 200px;
}
.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}
.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}
.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}
.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}
.preview-zone {
  text-align: center;
}
.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}